body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Cloudy_Sky_%2841158984%29.jpeg');
}

.header {
    background-color: #62887f;
    padding: 20px;
    text-align: center;
}

.details {
    text-align: center;
}

a {
    color: hotpink;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: cadetblue;
}

a:active {
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}