body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Cloudy_Sky_%2841158984%29.jpeg');
}

.details {
    text-align: center;
}


a {
    color: hotpink;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: cadetblue;
}

a:active {
    color: white;
}

.beverages {
    margin-bottom: 1cm;
}